/*
Cooking With Kids - Group Project
Filename: styles.css
Made by: Douglas Vinicio, Patrick Brennan, Jessica Landry and Paul Szostak
*/

h1,h2,h3,h4,p{
text-align: center;
}

* {
background-color: #e6e6e6;
}


.form{
display: flex;
justify-content: center;
}

/* set the top image */
.home-background {
display: flex;
margin-left: auto;
margin-right: auto;
width: 35%;
}

/* Navbar container */
.navbar {
display: block;
overflow: hidden;
background-color:#e6e6e6;
font-family: Arial;
text-align: center;
display: flex;             
justify-content: center;
}

/* Link text inside the navbar */
.navbar a {
float: left;
font-size: 16px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button style */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a gray background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: gray;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Link text inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: darkgray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
} 

.row {
display: flex;
text-align: center;
}

.column {
flex: 20%;
text-align: center;
}

.ingredients {
flex: 20%;
text-align: left;
padding: 0 0 0 10%;
}




/* Using recipe pictures as links to specific pages */
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}


/* table styling */
table,th,td {
  width:100%;
  padding: 5px;
  border: 1px solid black;
  max-width: 400px;
}

